.header{
  width: 100vw;
  background-color: #1F2937;
  box-shadow: 0px 4px 40px rgba(255, 255, 255, 0.15);
  margin: 0;
  padding: 8pt 32pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10pt;
}

.header span{
  font-size: 32pt;
  font-family: 'Konkhmer Sleokchher', cursive;
  color: white;
}


.loginButton{
  color: white;
  background-color: #DC2626;

  font-size: 12pt;

  padding: 8pt;
  border-radius: 2pt;
  margin-right: 8pt;
}


.registerButton {
  color: #DC2626;
  border: #DC2626 solid 1px;

  font-size: 12pt;

  padding: 8pt;
  border-radius: 2pt;
}