@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700&family=Konkhmer+Sleokchher&display=swap');

.MovieInfo{
  width: 100%;
}

.searchBox{
  border: #E1E1E6 solid 1px;
  padding: 8pt 8pt;
  border-radius: 6pt;
  max-width: 60rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchBox input{
  color: whitesmoke;
  background: none;
  border: none;
  flex: 1;
}

.searchBox a{
  margin: 0;
}

.searchButton {
  width: 14pt;
  margin-right: 8pt;
}

.searchButton:hover{
  cursor: pointer;
}

.movieBody{
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 50pt;
  padding: 80pt 120pt;
}

.movieInfo{
  background-color: #1F2937;

  flex: 1;

  padding: 12pt;
  margin-left: 20pt;
  border-radius: 10pt;
}

.posterImage{
  width: 200pt;
}

.headerMovieInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerMovieInfo .buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12pt;
}

.headerMovieInfo a{
  color: #9CA3AF;
}

.headerMovieInfo p{
  margin: 0 8pt;
}

.movieDuration{
  margin-bottom: 4pt;
}

.movieYear{
  margin-bottom: 4pt;
}

.movieDescription{
  color: white;

  margin-bottom: 20pt;
}

.contentDivider {
  border: #9CA3AF solid 1px;
  margin-bottom: 20pt;
}

.avaliationHallTitle {
  margin-top: 24pt;
  margin-bottom: 12pt;
}

.avaliationHallSubTitle{
  margin-bottom: 10pt;
}

.avaliationInput{
  border: #E1E1E6 solid 1px;
  padding: 8pt 8pt;
  margin-bottom: 16pt;
  border-radius: 6pt;
  color: whitesmoke;
  background: none;
  width: 100%;
  height: 60pt;

  font-size: 10pt;
}

.avaliationSend {
  color: white;
  background-color: #DC2626;

  font-size: 12pt;

  padding: 8pt;
  border-radius: 2pt;
}

.comment{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
