@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700&family=Konkhmer+Sleokchher&display=swap');

.MovieList{
  width: 100%;
}

.searchBox{
  border: #E1E1E6 solid 1px;
  padding: 8pt 8pt;
  border-radius: 6pt;
  max-width: 60rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchBox input{
  color: whitesmoke;
  background: none;
  border: none;
  flex: 1;
}

.searchBox a{
  margin: 0;
}

.searchButton {
  width: 14pt;
  margin-right: 8pt;
}

.searchButton:hover{
  cursor: pointer;
}

.movieListBody{
  margin-top: 80pt;
  padding: 20pt 20pt;
  min-height: 100vh;
}

.movieListBody .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10pt 10pt;
}

.movieListBody .movies{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 30pt;
  flex-wrap: wrap;
}

.movieCard{
  padding: 12pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posterImage{
  width: 150pt;
  margin-bottom: 8pt;
}

.movieName{
  color: white;
  text-align: center;
}

.movieDuration{
  color: white;
  text-align: center;

}

.movieYear{
  color: white;
  text-align: center;
}



