@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700&family=Konkhmer+Sleokchher&display=swap');

.MovieList{
  width: 100%;
}

.header{
  width: 100vw;
  background-color: #111;
  box-shadow: 0px 4px 40px rgba(255, 255, 255, 0.15);
  margin: 0;
  padding: 8pt 12pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.header span{
  font-size: 36pt;
  font-family: 'Konkhmer Sleokchher', cursive;
  color: white;
}

.searchBox{
  border: red solid 1px;
  color: whitesmoke;
  background-color: #111;

  font-size: 12pt;
  font-family: 'Konkhmer Sleokchher', cursive;

  padding: 8pt;
  margin-right: 8pt;
  border-radius: 2pt;
}

.searchButton {
  color: white;
  background-color: red;

  font-family: 'Konkhmer Sleokchher', cursive;
  font-size: 12pt;

  padding: 8pt;
  border-radius: 2pt;
  margin-right: 8pt;
}

.movieListBody{
  background-color: #111;
  margin-top: 80pt;
  padding: 20pt 20pt;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 30pt;
  flex-wrap: wrap;
}

.movieCard{
  border: red solid 1px;

  padding: 12pt;
  margin-right: 8pt;
  border-radius: 10pt;
}

.posterImage{
  width: 150pt
}

.movieName{
  color: white;
  text-align: center;

  font-family: 'Konkhmer Sleokchher', cursive;
  font-size: 12pt;
}

.movieDuration{
  color: white;
  text-align: center;

  font-family: 'Konkhmer Sleokchher', cursive;
  font-size: 10pt;
}

.movieYear{
  color: white;
  text-align: center;

  font-family: 'Konkhmer Sleokchher', cursive;
  font-size: 10pt;
}



